@import "../abstracts/mixins";
@import "../abstracts/variables";

.event {
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;

    &-wrap {
      overflow: hidden;
      padding-bottom: 105%;
      position: relative;
      margin-bottom: 18px;
    }
  }

  &__date {
    font-size: 17px;

    color: #797979;
    margin-bottom: 9px;
    padding-left: 39px;
    @media (max-width: $breakpoint-xl) {
      padding-left: 29px;
      font-size: 14px;
    }

    &:before {
      content: '';
      width: 24px;
      height: 24px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background: url("../img/clock.svg");
      background-size: contain;
      @media (max-width: $breakpoint-xl) {
        width: 20px;
        height: 20px
      }
    }
  }

  &__title {
    color: rgba(75, 101, 83, 1);
    font-size: 20px;
    @media (max-width: $breakpoint-xl) {
      font-size: 14px;
    }
  }
}

.s-blog {
  margin-bottom: 150px;
  @media (max-width: $breakpoint-lg) {
    margin-bottom: 50px;
  }

  & .heading {
    margin-bottom: 30px;
    @media (max-width: $breakpoint-lg) {
      text-align: center;
      margin-bottom: 20px;
    }
  }

  & .article {
    &__grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 56px 30px;
      margin-bottom: 70px;
      @media (max-width: $breakpoint-lg) {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
      }
      @media (max-width: $breakpoint-sm) {
        grid-template-columns: 1fr;
        gap: 32px;
      }
    }

    &__img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;

      &-wrap {
        margin-bottom: 23px;
        padding-bottom: 75%;
        @media (max-width: $breakpoint-lg) {
          padding-bottom: 73%;
          margin-bottom: 13px;
        }
      }
    }

    &__title {
      @include fontSize(18, 22);
      line-height: 1.35;
      color: #5E6C5B;
      margin-bottom: 5px;
    }

    &__date {
      margin-bottom: 3px;
      @include fontSize(16, 18);
      line-height: 1.6;
      color: #899088;
    }

    &__description {
      @include fontSize(16, 18);
      line-height: 1.6;
      color: #08121E;
    }
  }
}

.s-post {
  margin-bottom: 150px;

  & .heading {
    margin-bottom: 20px;
  }

  & .date {
    margin-bottom: 41px;
    color: #899088;
    font-size: 18px;
  }

  & .img {
    &__wrap {
      width: 75%;
      margin: 0 auto 42px auto;
    }
  }
}